/*issue solved for uibmodal fails to  blur background*/
.modal{
    display: block !important;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(.5rem);
    /* backdrop-filter: blur(4px) grayscale(0.6) opacity(2); */
}

@supports (-moz-appearance:none) {
    .modal{
        display: block !important;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(.5rem);
    }
}




.modal-content{
    border: none !important;
}


